{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "components/languageLink/macro.njk" import languageLink %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{% extends "common/layout/view.njk" %}
{% set pageTitleName = 'pages.start.title' | translate %}
{% block content %}
    {% macro ipvValidationTags(evidence, emptyEvidenceText="pending") %}
      {% if evidence.evidenceScore %}
        {% if 'strength' in evidence.evidenceScore  or 'validity' in evidence.evidenceScore %}
          {{ govukTag({
              text: "completed",
              classes: "govuk-tag--green"
          }) }}
          {{ govukTag({
              text: evidence.evidenceScore.strength or 0,
              classes: "govuk-tag--orange"
          }) }}
          {{ govukTag({
              text: evidence.evidenceScore.validity or 0,
              classes: "govuk-tag--yellow"
          }) }}
      {% else %}
          {{ govukTag({
              text: emptyEvidenceText,
              classes: "govuk-tag--blue"
          }) }}
      {% endif %} 
    {% endif %}

    {% endmacro %}

    {% macro identityVerificationValidationTags(evidence, emptyEvidenceText="pending") %}
     {% if evidence.verificationScore %}
        {{ govukTag({
            text: "completed",
            classes: "govuk-tag--green"
        }) }}
        {{ govukTag({
            text: evidence.verificationScore or 0,
            classes: "govuk-tag--yellow"
        }) }}
      {% else %}
        {{ govukTag({
            text: emptyEvidenceText,
            classes: "govuk-tag--blue"
        }) }}
      {% endif %} 
    {% endmacro %}

    {% macro activityHistoryValidationTags(evidence, emptyEvidenceText="pending") %}
     {% if evidence.activityHistoryScore %}
        {{ govukTag({
            text: "completed",
            classes: "govuk-tag--green"
        }) }}
        {{ govukTag({
            text: evidence.activityHistoryScore or 0,
            classes: "govuk-tag--yellow"
        }) }}
      {% else %}
        {{ govukTag({
            text: emptyEvidenceText,
            classes: "govuk-tag--blue"
        }) }}
      {% endif %} 
    {% endmacro %}

    {% macro evidenceDataDisplay(evidenceArray) %}
        {% for evidence in evidenceArray %}
            <div class="govuk-summary-list__row">
                {% if evidence.type == "ATP_GENERIC_DATA" %}
                    <dd class="govuk-summary-list__key">Generic evidence</dd>
                {% elif evidence.type == "DRIVING_LICENCE" %}
                    <dd class="govuk-summary-list__key">Driving license evidence</dd>
                {% elif evidence.type == "UK_PASSPORT" %}
                    <dd class="govuk-summary-list__key">Passport evidence</dd>
                {% else %}
                    <dd class="govuk-summary-list__key">Unknown evidence</dd>
                {% endif %}
                <dd class="govuk-summary-list__value">
                    {{ ipvValidationTags(evidence) }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="/ipv/evidence/delete?id={{ evidence.evidenceId }}">Delete</a>
                </dd>
            </div>
        {% endfor %}
    {% endmacro %}

    {% macro identityVerificationEvidenceDataDisplay(evidenceArray) %}
        {% for evidence in evidenceArray %}
            <div class="govuk-summary-list__row">
                {% if evidence.type == "MNO_CHECK" %}
                  <dd class="govuk-summary-list__key">MNO check</dd>
                {% elif evidence.type == "CRA_CHECK" %}
                  <dd class="govuk-summary-list__key">CRA check</dd>
                {% elif evidence.type == "SELFIE_CHECK" %}
                  <dd class="govuk-summary-list__key">SELFIE check</dd>
                {% else %}
                    <dd class="govuk-summary-list__key">Unknown evidence</dd>
                {% endif %}
                <dd class="govuk-summary-list__value">
                    {{ identityVerificationValidationTags(evidence) }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="/ipv/evidence/delete?id={{ evidence.evidenceId }}">Delete</a>
                </dd>
            </div>
        {% endfor %}
    {% endmacro %}

    {% macro activityHistoryEvidenceDataDisplay(evidenceArray) %}
        {% for evidence in evidenceArray %}
            <div class="govuk-summary-list__row">
                {% if evidence.type == "BANK_ACCOUNT" %}
                  <dd class="govuk-summary-list__key">Bank Account</dd>
                {% else %}
                    <dd class="govuk-summary-list__key">Unknown evidence</dd>
                {% endif %}
                <dd class="govuk-summary-list__value">
                    {{ identityVerificationValidationTags(evidence) }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="/ipv/evidence/delete?id={{ evidence.evidenceId }}">Delete</a>
                </dd>
            </div>
        {% endfor %}
    {% endmacro %}

    {% macro evidenceData(heading, evidenceArray) %}
      {{ govukAccordion({
          id: "accordion-default",
          items: [
              {
                  heading: {
                      text: heading
                  },
                  content: {
                      html: evidenceDataDisplay(evidenceArray)
                  }
              }
          ]
      }) }}
    {% endmacro %}

    {% macro identityVerificationEvidenceData(heading, evidenceArray) %}
      {{ govukAccordion({
          id: "accordion-default",
          items: [
              {
                  heading: {
                      text: heading
                  },
                  content: {
                      html: identityVerificationEvidenceDataDisplay(evidenceArray)
                  }
              }
          ]
      }) }}
    {% endmacro %}

    {% macro activityHistoryEvidenceData(heading, evidenceArray) %}
      {{ govukAccordion({
          id: "accordion-default",
          items: [
              {
                  heading: {
                      text: heading
                  },
                  content: {
                      html: activityHistoryEvidenceDataDisplay(evidenceArray)
                  }
              }
          ]
      }) }}
    {% endmacro %}

    {% macro ipvSummaryList(heading, atpArray) %}
        <h2 class="govuk-heading-m govuk-!-margin-top-5">{{ heading }}</h2>
        {% for atp in atpArray %}
          <div class="govuk-summary-list__row">    
            <dt class="govuk-summary-list__key">{{ atp.label }}</dt>
            <dd class="govuk-summary-list__value"> 
{#                {{ ipvValidationTags(atp.evidence) }}          #}
            </dd>     
            <dd class="govuk-summary-list__actions">   
                <a class="govuk-link" href="{{ atp.href }}">{{atp.text}}</a>
            </dd>
          </div>
        {% endfor %}
    {% endmacro %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">ATP and Orc test page</h1>
            <p>Enter all required information and then click 'Return to Orc'</p>

            <dl class="govuk-summary-list">
              {{ ipvSummaryList("Identity Evidence", identityEvidence)}}
            </dl>

            {{ evidenceData("Added identity evidence", evidenceArray) }}

            <dl class="govuk-summary-list">
              {{ ipvSummaryList("Identity Verification", identityVerification)}}
            </dl>

            {{ identityVerificationEvidenceData("Added identity verification", identityVerificationEvidenceArray) }}

            <dl class="govuk-summary-list">
              {{ ipvSummaryList("Activity History", activityHistory)}}
            </dl>

            {{ activityHistoryEvidenceData("Added activity history", activityHistoryEvidenceArray) }}

            <dl class="govuk-summary-list">
                {{ ipvSummaryList("Fraud", fraud)}}
            </dl>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <h2 class="govuk-heading-m govuk-!-margin-top-5">Ungrouped</h2>

              <div class="govuk-summary-list__row">     
              <dt class="govuk-summary-list__key">Mothers maiden name</dt>
              <dd class="govuk-summary-list__value"> 
                  {% if validations.mmn %}
                      {{ govukTag({
                          text: "completed",
                          classes: "govuk-tag--green"
                      }) }}                
                  {% else %}
                      {{ govukTag({
                          text: "pending",
                          classes: "govuk-tag--blue"
                      }) }}
                  {% endif %}  
              </dd>
              <dd class="govuk-summary-list__actions">
                  {% set infoText = "Enter" %}
                  {% if validations.mmn %}
                      {% set infoText = "Change" %} 
                  {% endif %}   
                  <a class="govuk-link" href="/attributes?_type=mmn">{{infoText}}</a>
              </dd>
              </div>

              <div class="govuk-summary-list__row">     
              <dt class="govuk-summary-list__key">NINO</dt>
              <dd class="govuk-summary-list__value"> 
                  {% if validations.nino %}
                      {{ govukTag({
                          text: "completed",
                          classes: "govuk-tag--green"
                      }) }}                
                  {% else %}
                      {{ govukTag({
                          text: "pending",
                          classes: "govuk-tag--blue"
                      }) }}
                  {% endif %}  
              </dd>
              <dd class="govuk-summary-list__actions">
                  {% set infoText = "Enter" %}
                  {% if validations.nino %}
                      {% set infoText = "Change" %} 
                  {% endif %}   
                  <a class="govuk-link" href="/attributes?_type=nino">{{infoText}}</a>
              </dd>
              </div>
            </dl>

            <h2 class="govuk-heading-m govuk-!-margin-top-5">Summary</h2>

            <div class="govuk-summary-list__row">     
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">  
                    <dt class="govuk-summary-list__key">Activity history<dt>
                    <dd class="govuk-summary-list__value"> {{activityHistoryScore or 0}}</dd>
                </div>
                <div class="govuk-summary-list__row">  
                    <dt class="govuk-summary-list__key">Identity fraud<dt>
                    <dd class="govuk-summary-list__value"> {{validations.scores.identityFraud or 0}}</dd>
                </div>
                <div class="govuk-summary-list__row">  
                    <dt class="govuk-summary-list__key">Verification<dt>
                    <dd class="govuk-summary-list__value"> {{identityVerificationScore or 0}}</dd>
                </div>
            </dl>
            </div>


            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/stackoverflow-light.min.css">
            {{ govukAccordion({
                id: "accordion-default",
                items: [
                    {
                        heading: {
                            text: "Debug Data"
                        },
                        content: {
                            html:  "<pre><code>" + debugData + "</code></pre>" 
                        }
                    }
                ]
            }) }}


            <h2>Currently met GPG45 profile:</h2>
            <h3><span>{{gpg45Profile.description or "None"}}</span></h3>

            <br/>
            <br/>
            <br/>

            <div>
                {{ govukButton({
                    text: "Return to Orc",
                    name: "return-to-orc",
                    href: "/ipv/return"
                }) }}
            </div>
        </div>
    </div>    
{% endblock %}
